@import '@fontsource/fira-mono';
@import './open-sans.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Sui Generis Rg';
	font-style: normal;
	font-weight: 400;
	src: local('Sui Generis Rg'),
		url('https://fonts.cdnfonts.com/s/8640/sui generis rg.woff') format('woff');
}

:root {
	--font-body: 'Open Sans', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--brand-blue: #283c4d;
	--blue: #016fce;
	--light-gray: #f2f2f2;
	--white: #fff;
	--black: #181823;
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	min-height: 100vh;
	overflow-x: hidden;
	background-attachment: fixed;
	background-color: var(--color-bg-1);
	background-size: 100vw 100vh;
	background-image: radial-gradient(
			50% 50% at 50% 50%,
			rgba(255, 255, 255, 0.75) 0%,
			rgba(255, 255, 255, 0) 100%
		),
		linear-gradient(180deg, var(--color-bg-0) 0%, var(--color-bg-1) 15%, var(--color-bg-2) 50%);
	color: var(--black);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
}

p {
	font-weight: 400;
}

p {
	line-height: 1.5;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color-text);
}

.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}
